<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csa_jsandvue.mapper.userMapper">
    <resultMap id="queryUser" type="loginUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    <select id="login" resultMap="queryUser" parameterType="loginUser">
        select * from demo.login where username= #{username} and password = #{password}
    </select>
    <select id="findUserByUsername" resultMap="queryUser" parameterType="String">
        select * from demo.login where username = #{username}
    </select>
</mapper>